nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    border-radius: 0px 35px 0px 0px;
    background-image: linear-gradient(top, blueviolet, blueviolet 100px, transparent 100px, transparent 100%);
    background-image: -webkit-linear-gradient(top, blueviolet, blueviolet 100px, transparent 100px, transparent 100%);
}

ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    list-style: none;
}

li {
    margin-top: 20%;
}

ul > :first-child {
    margin-top: 0;
}

ul > :last-child {
    margin-top: auto;
}

a {
    color: blue;
    text-decoration: none;
}

.main {
    margin-left: 200px;
    padding: 0px 32px;
}

.logo {
    width: 160px;
    padding: 0px 20px 15px 20px;
    background-color: blueviolet;
}

.username {
    color: white;
    margin-top: 0;
    padding: 8px 0px;
    background-color: #3a1372;
    text-align: center;
    word-wrap: break-word;
}

.navbtn {
    display: inline-flex;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-left: -15%;
    filter: contrast(30%);
}

.navbtn > img {
    width: 25px;
    margin: 0px 10px;
}

.navbtn > h3 {
    font-size: 1.5em;
    margin: 10px 5px;
}

.active {
    background-color: white;
    border-radius: 100px 0px 0px 100px;
    border-style: solid none solid solid;
    border-color: #111;
    border-width: 3px;
    filter: none;
}

.logout {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin: 16px -20%;
}

.logout > img {
    width: 40px;
    margin: 0px 10px;
}

.logout > h3 {
    font-size: 1.5em;
    margin: 10px 5px;
    color: white;
}
